@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <h2 >¿Qué es un banco de herramientas?</h2>
</div>
    <p class="mt-4 p-6">
        Es un proyecto o iniciativa que tiene como objetivo proporcionar un fondo compartido de herramientas y maquinarias a personas que enfrentan dificultades para comprar sus propias herramientas.
    </p>
    <p class="mt-4 p-6"> Algunos objetivos y beneficios de un banco de herramientas pueden incluir:
    <ul>
        

        <li>Acceso a herramientas y maquinarias costosas: Muchas personas pueden no tener los recursos financieros para comprar herramientas especializadas o maquinarias costosas, pero necesitan utilizarlas para proyectos personales o laborales. Un banco de herramientas les brinda acceso a estos recursos compartidos.</li>

        <li>Fomento de la comunidad y la colaboración: Estos proyectos fomentan el espíritu de comunidad y colaboración entre sus miembros, ya que comparten recursos para beneficio mutuo.</li>

        <li> Reducción del consumo y residuos: Al compartir herramientas, se evita la necesidad de que cada persona compre y posea las mismas herramientas, lo que reduce el consumo y el desperdicio de recursos.</li>

  

        <li> Estímulo al bricolaje y proyectos DIY (Hazlo tú mismo): Al tener acceso a herramientas y maquinarias, las personas pueden emprender proyectos que de otro modo serían difíciles de realizar.</li>

    </ul>
    
    </p>

    
</div>
<div text-center>
    <a asp-controller="Herramientas" asp-action="Index" class="btn btn-success">Ir al Banco de Herramientas</a>

</div>
